.card {
    height: fit-content;
    min-height: 400px;
    width: fit-content;
    min-width: 300px;
    margin: 10px;
}

.avatarDetails {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 5px;

}

.name {
    margin-top: 50px;
}